/*------------------------------------*\
    $Events
\*------------------------------------*/

// Homepage

.events {
	margin-bottom: $base-spacing-unit;
	@include media-query(palm) {
		margin-top: 0;
	}
	h5 {
		margin-bottom: $half-spacing-unit/2;
		line-height: 1.2;
	}
}

.event-list {
	list-style: none;
	margin: 0em 0 $half-spacing-unit 0 !important;
	padding: 0;
}

.event {
	clear: both;
	overflow: hidden;
	margin-bottom: 0;
	margin-right: 20px;
	&:last-of-type {
		border-bottom: 0;
	}
	h3 {
		margin-top: $half-spacing-unit;
		margin-bottom: 0;
	}
	.time-location {
		@include font-size(16px);
	}
	.event-link {
		margin-top: $base-spacing-unit;
		padding: $half-spacing-unit 0 $half-spacing-unit 0;
		text-align: left;
		display: block;
		min-height: 115px;
		border: 0;
		-webkit-transition:all 150ms ease-in;
       -moz-transition:all 150ms ease-in;
	       -o-transition:all 150ms ease-in;
	          transition:all 150ms ease-in;
    &:hover {
			text-decoration: underline;
	  }
	}
}

.event-date {
	white-space: nowrap;
	@extend .cf;
}

.start-date,
.end-date {

}

.start-date,
.end-date {
	float: left;
}

.end-date {
	margin-left: 3.8em;
}

.event-weekday {
	padding: $half-spacing-unit/4 0 0 0;
	@include font-size(16px);
	line-height: 1.6;
	color: #000;
}

.event-day {
	padding: 0;
	font-size: 4em;
	font-weight: bold;
	line-height: 0.8em;
	color: #000 !important;
}

.event-month {
	padding: $half-spacing-unit/2 0 $half-spacing-unit/2 0 !important;
	@include font-size(16px);
	line-height: 1em;
	color: #000 !important;
}

.event-year {
	font-size: 0.8em;
	line-height: 0.8em;
	letter-spacing: 0.1em;
	padding-bottom: 0.3em;
}

.multi-day {
	margin: 0 0 0 0em !important;
}

.single-day {
	margin: 0 0 0 0em !important;
}

.date-separator {
	display: block;
	float: left;
	padding: $half-spacing-unit /2;
	margin-top: $base-spacing-unit;
}
