
/*------------------------------------*\
    $Forms
\*------------------------------------*/

div.wpcf7 img.ajax-loader {
	display: inline;
	margin-left: 16px;
	width: 32px;
  max-width: 32px;
  height: auto;
}

input[type=text], input[type=email], input[type=password] {
	width: 100%;
	padding: $half-spacing-unit;
	background: #fff;
	&:hover {
		background: #fff;
	}
	&:focus {
		border: 1px solid $brand-color;
	}
}
.site-content {
	label {
		display: block;
		padding-top: $half-spacing-unit;
		padding-bottom: $half-spacing-unit;
		color: $darkgrey;
	}
	input[type=text], input[type=email], input[type=password] {
		width: 100%;
		padding: $half-spacing-unit;
		background: #fff;
		&:hover {
			background: #fff;
		}
		&:focus {
			border: 1px solid $brand-color;
		}
	}
	textarea {
		width: 100%;
		padding: $half-spacing-unit;
		background: #fff;
		&:hover {
			background: #fff;
		}
		&:focus {
			border: 1px solid $brand-color;
		}
	}
	.wpcf7-captchac {
		height: auto !important;
		width: auto !important;
	}
	input[type=submit] {
		padding: $half-spacing-unit;
		background: $brand-color;
		border:0;
		color: #fff;
		@include vendor(border-radius, 4px);
		&:hover {
			background: lighten($brand-color, 10%);
		}
	}
	.ajax-loader {
		height: auto !important;
		width: auto !important;
	}
}

textarea, input {
	background: #fff;
	border: 1px solid $keylinegrey;
    -webkit-transition:all 150ms ease-in;
       -moz-transition:all 150ms ease-in;
	     -o-transition:all 150ms ease-in;
	        transition:all 150ms ease-in;
}

input[placeholder]:focus::-webkit-input-placeholder {
	-webkit-transition:opacity 0.5s 0s ease;
	   -moz-transition:opacity 0.5s 0s ease;
	    -ms-transition:opacity 0.5s 0s ease;
	     -o-transition:opacity 0.5s 0s ease;
	        transition:opacity 0.5s 0s ease;
	opacity: 0;
}

input[placeholder]:focus:-moz-placeholder {
	-webkit-transition:opacity 0.5s 0s ease;
	   -moz-transition:opacity 0.5s 0s ease;
	    -ms-transition:opacity 0.5s 0s ease;
	     -o-transition:opacity 0.5s 0s ease;
	        transition:opacity 0.5s 0s ease;
	opacity: 0;
}

input[placeholder]:focus::-moz-placeholder {
	-webkit-transition:opacity 0.5s 0s ease;
	   -moz-transition:opacity 0.5s 0s ease;
	    -ms-transition:opacity 0.5s 0s ease;
	     -o-transition:opacity 0.5s 0s ease;
	        transition:opacity 0.5s 0s ease;
	opacity: 0;
}

input[placeholder]:focus::-ms-placeholder {
	-webkit-transition:opacity 0.5s 0s ease;
	   -moz-transition:opacity 0.5s 0s ease;
	    -ms-transition:opacity 0.5s 0s ease;
	     -o-transition:opacity 0.5s 0s ease;
	        transition:opacity 0.5s 0s ease;
	opacity: 0;
}

textarea:focus, input:focus{
	border: 0;
    outline: none;
}
.wpcf7 {
	label {
		display: block;
		padding-top: $half-spacing-unit;
		padding-bottom: $half-spacing-unit;
		color: $darkgrey;
		font-weight: bold;
	}
	input[type=text] {
		width: 100%;
		padding: $half-spacing-unit;
		background: #fff;
		&:hover {
			background: #fff;
		}
		&:focus {
			border: 1px solid $brand-color;
		}
	}
	textarea {
		width: 100%;
		padding: $half-spacing-unit;
		background: #fff;
		&:hover {
			background: #fff;
		}
		&:focus {
			border: 1px solid $brand-color;
		}
	}
	input[type=submit] {
		padding: $half-spacing-unit;
		background: $brand-color;
		border:0;
		color: #fff;
		&:hover {
			background: lighten($brand-color, 10%);
		}
	}
}



.connect {
	.social {
	}
	input[type=email] {
		width: 70% !important;
		margin-right: $half-spacing-unit/2;
		padding: $half-spacing-unit $half-spacing-unit $half-spacing-unit $base-spacing-unit +3 !important;
	}
	input[type=submit] {

	}
	br {
		display: none;
	}
	p {
		margin-top: $base-spacing-unit;
	}
	img.ajax-loader {
		position: relative;
		bottom: 1.9em;
	}
	.wpcf7-response-output {
		margin-left: 0;
	}
	.wpcf7-not-valid-tip {
		background: #ff0000 !important;
		border: 2px solid #ff0000 !important;
		color: inherit#fff !important;
		width: 100%;
		padding: $half-spacing-unit;
	}
}

.newscta {
  width: 400px;
	background: $darkgrey; 
	padding: $base-spacing-unit $base-spacing-unit $half-spacing-unit $base-spacing-unit;
	color: #fff;
	margin-top: -30px;
	@include media-query(palm) {
		width: 100%;
		margin-bottom: 0;
		margin-top: $half-spacing-unit;
	}
	@include media-query(lap) {
		width: 100%;
		margin-bottom: $half-spacing-unit;
	}
	@include media-query(desk) {
		width: 400px;
		margin-bottom: $half-spacing-unit;
	}
	#fit-brand {
		margin-bottom: $half-spacing-unit/4;
		@include media-query(palm) {
			font-size: 35px;
		}
	}

	#mc_embed_signup .mc-field-group input.button {
		color: #fff !important;
	}
	p {
		margin-bottom: 0;
	}
}

.post .newscta,
.directory .newscta {
	min-height: 150px;
	border-top: 0;
	padding-bottom: $half-spacing-unit;
	#fit-brand {
		margin-bottom: $half-spacing-unit/4;
		@include media-query(palm) {
			font-size: 35px;
		}
	}
	p {
		margin-bottom: 0;
	}
}

.newsletter {
	br {
		display: none;
	}
	#your-email {
		width: 100%;
		margin-bottom: $half-spacing-unit;
		padding: $half-spacing-unit;
		background: rgba(255, 255, 255, .7);
		&:focus {
			outline: 0;
			border: 1px solid $brand-color;
		}
	}
	input[type=submit] {
		padding: $half-spacing-unit+2 $half-spacing-unit $half-spacing-unit+2 $half-spacing-unit;
		background: $brand-color;
		border:0;
		color: #fff;
	}
	.wpcf7-not-valid-tip {
		background: #CE0000 !important;
		color: #fff !important;
		width: 100% !important;
		padding: $half-spacing-unit !important;
		}
	.wpcf7-response-output {
		margin: 0 !important;
		padding: $half-spacing-unit !important;
	}
}

.wpcf7-validation-errors {
	border: 2px solid #CE0000 !important;
	background: #CE0000 !important;
	font-weight: bold !important;
	color: #fff !important;
}

.wpcf7-response-output {
	margin: 0 0 $half-spacing-unit 0 !important;
	padding: $half-spacing-unit !important;
}

.wpcf7-mail-sent-ng {
	background: #CE0000 !important;
	font-weight: bold !important;
	color: #fff !important;
}

#mc_embed_signup .mc-field-group input {
	display: inline !important;
	width: 100% !important;
}

span.wpcf7-not-valid-tip {
	position: static !important;
	border: 2px solid #CE0000 !important;
	background: #CE0000 !important;
	font-weight: bold !important;
	color: #fff !important;
	padding: $half-spacing-unit !important;
	display: block;
	width: 100%;
	font-size: 18px !important;
}

#mc_embed_signup .mc-field-group input.button {
	@include mf-button();
	width: 100px !important;
	border-radius: 0 !important;
	height: 48px !important;
	line-height: 0 !important;
	position: relative;
	top: 1px;
	&:hover {
		border-color: #fff;
	}
}

#mc_embed_signup .mc-field-group input {
	border: 5px solid #000 !important;
  color: #000 !important;
	border-radius: 0 !important;
	margin-bottom: $half-spacing-unit/2 !important;
}


/* Comments form */

.form-allowed-tags {
	display: none;
}

.post-113 #mc_embed_signup .mc-field-group input.button {
  background: $brand-color;
	color: white;
	font-weight: bold;
	border-radius: 3px;
	padding: 16px 12px;
	&:hover {
	background: lighten($brand-color, 10%);
	color: #fff !important;
	}
}

.post-113 {
	#mc_embed_signup .mc-field-group input {
		@include media-query(palm) {
			display: block !important;
	    width: 100% !important;
			margin-bottom: 12px;
		}
  }
	#mc_embed_signup .mc-field-group input.button {
		@include media-query(palm) {
			display: block !important;
	    width: auto !important;
			margin-left: 0px;
		}
  }
}

.clear {
	@extend .cf;
}
