/**
 * $header
 */

.info {
	padding: $half-spacing-unit $half-spacing-unit $half-spacing-unit $half-spacing-unit;
	margin-top: $half-spacing-unit;
	margin-left: $base-spacing-unit;
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
	p {
		margin-bottom: $half-spacing-unit;
	}
}

header {
	@extend .cf;
	.page {
		position: relative;
	}
}

.desk-position {
  position: absolute;
  top: 0px;
  right: 16px;
	@media only screen and (max-width: 860px) {
		position: static;
	}
}

.site-title {
	font-weight: normal;
	display: block;
	@include font-size($brand-phone-size);
	color: #fff;
	margin-bottom: $half-spacing-unit;
	margin-top: $half-spacing-unit;
  font-family: $brand-face;
  font-style: normal;
  line-height: 0.95 !important;
  text-align: left;
  white-space: nowrap;

    a {
	    color: #000;
			border-bottom: 0;
	    &:hover {
			color: #333;
			text-decoration: none;
			}
    }
    @include media-query(palm) {
    	a {
	    	position: relative;
	    	z-index: 9999;
    	}
    }
    span {
	    font-family: $brand-face-light;
    }
    @include media-query(lap-and-up) {
    	text-align: left;
    	font-size: 3em;
    	margin-top: 25px;
    	a {
	    	color: #000;
	    	&:hover {
				color: #333;
				text-decoration: none;
			}
		}
		@media only screen and (max-width: 1040px) {
	    margin-top: $half-spacing-unit;
	  }
    }
    @include media-query(desk) {
    	text-align: left;
    }
}

.site-description {
	width: 105%;
	font-family: sans-serif;
	@include font-size($h6-size);
	margin-bottom: $base-spacing-unit;
	color: #333;
	font-weight: 300;
	text-align: center;
  @extend .visuallyhidden--palm;
	@include media-query(lap-and-up) {
		display: block;
	  text-align: left;
  }
	@include media-query(desk) {
  	text-align: left;
  }
}

.ad-horz {
	width: 100%;
	height: auto;
    margin: $half-spacing-unit auto 0 auto;
    @include media-query(desk) {
      width: 600px;
    	float: right;
    }
		@include media-query(palm) {
			margin-top: $half-spacing-unit/2;
	    margin-bottom: $half-spacing-unit/2;
	  }
    @media only screen and (max-width:550px) {
     	width: 100%;
    }
}
