/**
 * $main
 */

/* baseline to develop on */
 body {
	 font-family: $body-face;
	 -webkit-font-smoothing: antialiased;
	 background: #fff;
 }

a {
    color: $black;
		border-bottom: .1em solid $black;
    -webkit-transition: color 150ms ease-in;
       -moz-transition: color 150ms ease-in;
	     -o-transition: color 150ms ease-in;
	        transition: color 150ms ease-in;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
				border: 0;
        color: $black;
    }

}

 ::selection {
	background: $brand-color;
	color: #fff;
	}
 ::-moz-selection {
	background: $brand-color;
	color: #fff;
	}

/**
 * $page
 */

#page,
.page {
	@extend .cf;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 $half-spacing-unit;
	@include media-query(palm) {
		padding: 0 $half-spacing-unit/2;
	}
}

.greybox {
	background: #ccc;
	min-height: 240px;
	width: 100%;
}

.page-template-default .wrapper.page {
	padding: 0 $base-spacing-unit;
	@include media-query(palm) {
		padding: 0 $half-spacing-unit/2;
	}
}

.directory-template-default .wrapper.page {
  @include media-query(portable) {
		padding-left: 42px;
	}
}

.home main.page {
  @media only screen and (max-width: 1023px) {
    padding-left: 16px;
  }
	@include media-query(palm) {
		padding-left: 8px;
	}
}

.border-wrap {
	padding: $base-spacing-unit 0 $half-spacing-unit 0;
	margin-bottom: $base-spacing-unit;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	.ad-sq {
		margin-bottom: 0;
	}
}

.static .page,
.page.type-page,
.page.type-page .breadcrumbs {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
  max-width: 100%;
	@media only screen and (min-width: 1400px) {
		padding-left: 16px;
		padding-right: 16px;
	}
}

.white-bg {
	background: #fff;
}

.home .page-bg {
  padding: 0;
	// background: #F3F3F3 !important;
	// @include media-query(lap) {
	// 	padding-top: 0;
	// }
	// @include media-query(palm) {
	// 	padding-top: 0;
	// }
}

.page-bg {
	padding: $half-spacing-unit 0;
	// background: #F3F3F3;
	@include media-query(palm) {
		padding: $half-spacing-unit/2 0;
	}
}

.page-template-default {
	max-width: 100%;
	padding: 0;
}

.page-template-default .wrapper .one-whole {
	padding-left: 0;
}

.grid-item {
	margin: 5px;
}

.blue-bg {
	background: lighten(#DCEFF5, 5%);
}

.category-featured .page-bg {
	background: lighten(#f8f8d8, 5%);
}

.category-shopping-in-manchester .page-bg {
	background: #ECE4F4;
}

.category-from-mcr-to .page-bg {
	background: #DCEFF5;
}

.category-eating-in-manchester .page-bg {
	background: lighten(#e9d2b6, 10%);
}

.category-music .page-bg {
	background: lighten(#D1DCD2, 5%);
}

.category-arts .page-bg {
	background: lighten(#EAD9DB, 5%);
}

.category-drinking-in-manchester .page-bg,
.page-bg.category-drinking-in-manchester {
	background: lighten(#e3c7e7, 10%);
}

.skip-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;

  ul {
    list-style: none;
    margin: 0px;
  }

  a {
    position: absolute;
    left: -9999px;
    top: 0;
    font-size: 20px;
    padding: $half-spacing-unit/2 $half-spacing-unit;
    color: #fff;
    background: $darkgrey;
    white-space: nowrap;

    &:focus,
    &:active {
      left: $half-spacing-unit;
    }
  }
}
