/*------------------------------------*\
    $Search Results
\*------------------------------------*/

.no-results {
	padding: $base-spacing-unit;
	margin: -50px auto $base-spacing-unit auto;
	width: 50%;
	background: #DDEFF5;
	text-align: center;
	@include media-query(palm) {
		width: 100%;
		padding: $half-spacing-unit;
	}
}

.main-search-control {
	float: right;
	display: block;
  @media only screen and (max-width: 1200px) {
    float: left;
  }
	.mob-search {
		display: none;
	}
	#search-toggle {
		@extend .cf;
		width: 115px;
		font-size: 18px;
		line-height: 1.8;
		display: block;
		padding-top: $half-spacing-unit;
		padding-bottom: $half-spacing-unit;
		@media only screen and (max-width: 859px) {
			font-size: 22px;
			float: none;
			width: 55px;
			position: absolute;
			top: 0px;
			right: 50px;
			&:hover {
				border: 0;
			}
		}
		span {
			@media only screen and (max-width: 859px) {
				display: none;
			}
		}
		&:before {
			content: "\260c";
			display: inline-block;
			margin-right: 6px;
			float: left;
		}
		span {
			float: left;
		}
	}
	.is-pressed {
		// border-bottom: 3px solid $brand-color;
	}
}

.search-close-trigger {
	float: right;
}

#sidr-id-search-toggle {
	@include media-query(palm) {
		display: none;
	}
}

#main-search-reveal {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 9999;
	bottom: 0px;
	left: 0px;
	background: #fff;
	padding: 132px;
	transition: all 0.2s ease-in-out;
	opacity: 0;
	visibility: hidden;
	@include media-query(palm) {
		padding: $half-spacing-unit;
	}
}

.main-search {
	padding: $half-spacing-unit/2 0 $base-spacing-unit 0;
}

.is-open {
	opacity: 1 !important;
  visibility: visible !important;
}

#searchform,
.main-search {
	label {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		margin-top: $base-spacing-unit;
		margin-bottom: $base-spacing-unit;
	}
	#s {
    border-bottom: 5px solid #000;
    // background: $lightgrey;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		width: 100%;
		padding-left: 0;
		margin-bottom: $base-spacing-unit;
		font-size: 3rem;
		@include media-query(palm) {
	    font-size: 1.5rem;
	  }
	}
	#searchsubmit {
		position: relative;
		font-size: 40px;
		padding: 5px 5px;
		text-align: center;
		border: 5px solid #000;
		color: #000;
		font-weight: 700;
		background: transparent;
		margin-bottom: $base-spacing-unit;
		&:hover,
    &:focus {
     border-color: $brand-color;
     color: $brand-color;
   }
	}
}

.search {
	article {
		margin-bottom: $half-spacing-unit;
		// padding: $half-spacing-unit $half-spacing-unit;
		background: #fff;
		-webkit-transition:all 150ms ease-in;
           -moz-transition:all 150ms ease-in;
	         -o-transition:all 150ms ease-in;
	            transition:all 150ms ease-in;
	    h2 {
		    @include font-size(24px);
		    margin-bottom: $half-spacing-unit;
				a {
					border-bottom: 0;
				}
	    }
	    p {
	    	margin-bottom: $half-spacing-unit;
				 @include font-size(20px);
	    }
		&:nth-of-type(even) {
			 background: lighten($lightgrey, 5%);
		}
		&:hover {
			h2 {
				text-decoration: underline;
			}
		}
		.search--img {
			img {
				width: 172px;
				height: 88px;
			}
		}
		.entry-summary {
			@extend .cf;
		}
		.entry-meta {
			padding-top: $half-spacing-unit;
			padding-bottom: 0;
		}
		.post-categories {
			padding-left: 0;
			padding-bottom: 0;
		}
		footer {
			border: 0;
		}
	}
}

.search-page {

	label {
		@extend .accessibility;
	}
	input[type=text] {
		width: 75%;
		@include media-query(mob) {
			width: 100%;
			margin-bottom: $half-spacing-unit;
		}
	}
	input[type=submit] {
		padding: $half-spacing-unit *1.25;
		@include media-query(mob) {
			width: 100%;
		}
	}
}

.search-text {
  font-family: $body-face;
}

.site-content {
	.searchandfilter {
		label {
			display: inline-block;
		}
		ul li {
			width: 520px !important;
		}
	}
}

#directory-results .post-tile {
	min-height: 280px;
}

.mf-directory-search-home {
	padding: $base-spacing-unit*4 $half-spacing-unit $base-spacing-unit*2 $half-spacing-unit;
	.mf-label {
		font-weight: normal;
		text-align: center;
	}
}

.mf-directory-search--directory {
	background: transparent;
	padding-top: $base-spacing-unit;
  .mf-label {
		position: static;
		transform: translateX(0%);
		margin: 0 auto;
		text-align: center;
	}
	.mf-directory-search .searchandfilter ul li.sf-field-submit {
		display: inline-block !important;
		width: 9% !important;
		text-align: center !important;
		margin: 0 auto !important;
		@include media-query(palm) {
			width: 100% !important;
			display: block !important;
			text-align: left !important;
		}
	}
	.mf-directory-search .searchandfilter ul li:first-of-type {
		// width: 420px !important;
		@include media-query(palm) {
			width: 100% !important;
		}
	}
	.mf-directory-search .searchandfilter ul li {
		width: 500px !important;
		@include media-query(palm) {
			width: 100% !important;
		}
	}
}

.mf-directory-search-inner {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 9999;
	bottom: 0px;
	left: 0px;
	background: #fff;
	padding: $base-spacing-unit $half-spacing-unit;
	transition: all 0.2s ease-in-out;
	opacity: 0;
	visibility: hidden;
}
.mf-directory-search-inner.is--open {
	opacity: 1;
	visibility:visible;
	margin-bottom: 0;
	.mf-directory-search-home {
		background: #fff;
		opacity: 1;
		visibility: visible;
	}
}
.finder-trigger-inner {
	display: block;
	position: fixed;
	width: 100%;
	padding: 5px;
	border-top: 1px solid #000;
	border-bottom: 0;
	bottom: 0px;
	z-index: 999;
	background: #fff;
	color: #000;
	text-align: center;
	&:hover {
		border-top: 1px solid #000;
		border-bottom: 0;
		color: #000;
	}
}

.finder-close-trigger-inner {
	display: inline;
	position: absolute;
	top: -10px;
	right: 20px;
	@include media-query(palm) {
		top: 20px;
	}
}


.mf-directory-search-home,
.site-content {
	@extend .cf;
	ul {
		margin: 0;
	}

	.mf-directory-search {
		font-size: 60px;
		text-align: center;

		label:after {
			position: absolute;
			top: 18px;
			right: 0;
			display: inline;
			font-size: 30px;
			content: "\25be";
			@extend .icon-chevron-down;
		}
	}

	.searchandfilter {
		ul {
			text-align: center;
			margin-bottom: $base-spacing-unit;
		}
		ul li {
			// width: 520px !important;
			display: inline-block !important;
			padding: 0 $half-spacing-unit 0 0;
			margin: 0;
			text-align: left;
			@include media-query(palm) {
				width: 100% !important;
		    display: block !important;
		  }
		}
		ul li.sf-field-submit {
			width: 9% !important;
			text-align: center !important;
			margin: 0 auto !important;
			@include media-query(palm) {
				width: 100% !important;
		    display: block !important;
				text-align: left !important;
		  }
		}
		h4 {
			display: inline-block;
			font-size: 35px !important;
			@include media-query(palm) {
				display: block;
	      padding: 0;
				line-height: 1;
	    }
		}
	}
	label {
		@include font-size(40px);
		position: relative;
		top: 24px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    border-bottom: 5px solid #000;
    width: 420px;
    overflow: hidden;
    background-color: transparent;
    @include media-query(palm) {
			width: 100%;
      top: 0px;
    }
		select {
			position: relative;
      z-index: 9999;
		  font-weight: 700;
	    padding: 0px 8px 0px 0;
	    width: 130%;
	    border: none;
	    box-shadow: none;
	    background-color: transparent;
	    background-image: none;
	    -webkit-appearance: none;
	       -moz-appearance: none;
	            appearance: none;
		}
		select:focus {
		    outline: none;
		}
		&:first-child select {
			width: 90%;
		}
	}
	li:first-child label {
		width: 375px;
		@include media-query(palm) {
	    width: 100%;
			margin-bottom: $base-spacing-unit;
	  }
	}
	input[type=submit] {
		position: relative;
		top: 4px;
		font-size: 35px;
		padding: 5px 10px;
		text-align: center;
		border: 5px solid #000;
		color: #000;
		font-weight: 700;
		background: transparent;
		border-radius: 0;
		&:hover,
    &:focus {
     border-color: $brand-color;
     color: $brand-color;
		 background-color: transparent;
   }
	}
	.beta {
		@include media-query(palm) {
	    width: 70%;
	  }
	}


  @include media-query(palm) {
    position: fixed;
		height: 100%;
		width: 100%;
		z-index: 9999;
    bottom: 0px;
		left: 0px;
    background: #fff;
    padding: $base-spacing-unit $half-spacing-unit;
		transition: all 0.2s ease-in-out;
    opacity: 0;
		visibility: hidden;
  }
}

.mf-directory-search-home.is--open {
	@include media-query(palm) {
		opacity: 1;
		visibility:visible;
		margin-bottom: 0;
	}
}

.finder-trigger-section {
	display: none;
	@include media-query(palm) {
		display: block;
	}
	.mf-section {
		@include media-query(palm) {
			padding-top: 24px;
		}
	}
	.mf-label {
		text-align: center;
		margin-bottom: $half-spacing-unit;
	}
}

.finder-trigger {
	display: none;
	@include media-query(palm) {
		display: block;
		width: 90%;
		margin: 0 auto $half-spacing-unit auto;
		padding: 5px;
		border: 3px solid #000;
		z-index: 999;
		background: transparent;
		color: #000;
		text-align: center;
		&:hover {
			border: 3px solid $brand-color;
			color: $brand-color;
		}
	}
	.is-pressed {

	}
}

.finder-close-trigger {
	display: none;
	@include media-query(palm) {
		display: inline;
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.is-pressed {

	}
}

.results-count {
	@include media-query(palm) {
		margin-top: $half-spacing-unit;
	}
}

.site-content {
	padding-top: $half-spacing-unit;

	@include media-query(palm) {
    position: static;
		height: auto;
		width: auto;
		z-index: 1;
    background: transparent;
    padding: 0 0;
		// transition: all 0.2s ease-in-out;
    opacity: 1;
		visibility: visible;
  }
}
