/*------------------------------------*\
    $Social
\*------------------------------------*/

.twitter-stream {
	p {
		padding: $half-spacing-unit 0;
		margin-bottom: $half-spacing-unit;
		@include font-size($body-size);
		line-height: 1.4;
	}
	.profile-link {
		display: none;
	}
}

.wpinstagram {
	@extend .cf;
	margin-left: 0;
	margin-right: 0;
	height: auto;
	list-style-type: none;
		@include media-query(palm) {
			width: 100% !important;
			height: auto !important;
			}
	img {
		display: block;
		margin-top: $base-spacing-unit;
		@include media-query(palm) {
			width: 50%;
			height: auto;
			float: left;
			&:last-of-type(2) img {
				margin-right: $base-spacing-unit !important;
			}
		}
		@include media-query(mob) {
			width: 100%;
			height: auto;
			float: none;
		}
	}
}

.instagram-pics {
	@extend .cf;
	margin-left: 0;
	margin-right: 0;
	margin-top: $base-spacing-unit;
	height: auto;
	list-style-type: none;
		@include media-query(palm) {
			width: 100% !important;
			height: auto !important;
			}
	img {
		display: block;
		margin-bottom: 26px;
		@include media-query(palm) {
			width: 50%;
			height: auto;
			float: left;
			&:last-of-type(2) img {
				margin-right: $base-spacing-unit !important;
			}
		}
		@include media-query(mob) {
			width: 100%;
			height: auto;
			float: none;
		}
	}
}

.social-wrap {
	height: 64px;
	width: 105px;
	position: relative;
	@include media-query(palm) {
		display: none;
	}
}

.social-links {

	position: absolute;
	h5 {
		font-size: 16px;
		margin-top: 2px;
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}
	.btn {
		margin-bottom: 0;
	}


}

.social-share {
		.btn-circle {
			font-size: .4em;
	    padding: 8px 10px 0px 0px;
			color: #999;
			margin-bottom: 0;
		}

		.icon-envelope {
			font-size: 3em;
			&:before{
				position: relative;
				top: 1px;
			}
		}
}
