/*------------------------------------*\
    $Social
\*------------------------------------*/

.mf-twitter {
  margin-top: -24px;
	padding: $half-spacing-unit $base-spacing-unit;
	background: #1DA1F3;
  @include media-query(palm) {
    margin-bottom: $half-spacing-unit;
  }
	@include media-query(palm) {
    margin-bottom: $half-spacing-unit;
  }
	.sub-title-link a {
		color: #fff;
		display: inline-block;
	}
}

.twitter-stream {
	p {
    color: #fff;
		margin-bottom: $half-spacing-unit;
		@include font-size($body-size);
		line-height: 1.4;
	}
	.profile-link {
		display: none;
	}
	a {
		color: #fff;
		border-bottom-color: #fff;
	}
}

.wpinstagram {
	@extend .cf;
	margin-left: 0;
	margin-right: 0;
	height: auto;
	list-style-type: none;

	@include media-query(palm) {
		width: 100% !important;
		height: auto !important;
	}

  img {
		display: block;
		margin-top: $base-spacing-unit;
		@include media-query(palm) {
			width: 50%;
			height: auto;
			float: left;
			&:last-of-type(2) img {
				margin-right: $base-spacing-unit !important;
			}
		}
		@include media-query(mob) {
			width: 100%;
			height: auto;
			float: none;
		}
	}
}

footer .mf-connect {
	li a {
	  margin-left: 0px;
	}
	p {
		font-family: "nimbus-sans",sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
    margin-bottom: 16px;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #999;
	}
}

.mf-connect {
	margin-bottom: $half-spacing-unit;

	li a {
		margin-left: 16px;
	}

  p {
		color: $darkgrey;
    margin-bottom: 0;
		font-size: 16px;
		margin-left: 16px;
    text-align: left;
		@include media-query(palm) {
			margin-left: 0px;
		}
  }

	.sub-title {
		text-align: center;
		font-weight: bold;
		font-size: 32px !important;
		color: #000;
		border-bottom: 0;
	}

	.social {
		margin-bottom: 0;
		margin-top: 0;
	}

}

.social-inline .social {
	.btn-circle {
		margin-right: 20px;
		font-size: .6em;
		display: inline-block;
    .icon-twitter,
		.icon-facebook,
		.icon-instagram {
			position: relative;
			top: 10px;
		}
		.icon-instagram {
			color: #4C68D7;
		}
	}
	.btn--secondary.twitter {
		@include media-query(palm) {
			margin-left: 0px;
		}
	}
}

.social-wrap {
	height: 64px;
	width: 105px;
	position: relative;

	.social-share {
		.mobile-only {
			display: none;
		}
		.desk-only {
			display: block;
		}
	}

	@include media-query(palm) {
		z-index: 900;
		width: 100%;
		position: fixed;
		bottom: -20px;
		left: 0;

		.sub-title {
			display: none;
		}

		.social-share {
			display: table;
	    width: 100%;

			li {
				display: table-cell;
				width: 25%;
			}

			.mobile-only {
				display: table-cell;
			}
			.desk-only {
				display: none;
			}

			.btn-circle {
				display:block;
				border-radius: 0;
				font-size: 14px;
				width: 100%;
				height: 44px;
			}
			.icon-twitter,
			.icon-facebook,
			.icon-whatsapp {
				&:before {
					top: 8px;
				}
			}
			.instagram {
				position: relative;
				top: -4px;
			}
			.icon-envelope {
				font-size: 24px !important;
				&:before {
					top: 10px;
				}
			}
		}
	}
}

.social-links {
	list-style-type: none;
	margin-left: 0;
	margin-bottom: $base-spacing-unit;
	text-align: center;
	h5 {
		font-size: 16px;
		margin-top: 2px;
		margin-bottom: $half-spacing-unit;
		padding-bottom: 0;
		border-bottom: 0;
	}
	.btn {
		margin-bottom: 0;
	}


}

.social-share {
	list-style-type: none;
	margin-left: 0;
	margin-bottom: $base-spacing-unit;
	text-align: center;

	.btn-circle {
		padding: 0 !important;
		width: auto;
		font-size: .6em;
		line-height: 1.06667;
		border: 0;

		border-radius: 50%;
		height: 64px;
		width: 64px;
		display: block;
		text-align: center;
		margin: 0 auto 16px auto;
	}

	.btn--secondary{
		font-size: 1em;
		span {
			color: #fff;
		}
	}

	.btn--secondary.twitter {
		background: #00aced;
	}

	.btn--secondary.facebook {
		background: #334E94;
	}

	.btn--secondary.email {
		background: #334E94;
	}

	.btn--secondary.instagram {
		background: #886808 !important;
	}

	.btn-circle.whatsapp {
		position: relative;
		top: 1px;
		height: 44px;
		img {
			position: relative;
			top: 9px;
			width: 25px;
		}
	}

  .icon-twitter,
	.icon-facebook,
	.icon-envelope {
		font-size: 2em !important;
		&:before{
			position: relative;
			top: 10px;
		}
	}
	.icon-envelope {
		font-size: 1.5em !important;
		&:before{
			top: 16px;
		}
	}
}

.left-title {
	float: left;
}

.icon-you-tube {
	float: right;
  display: inline;
	margin-top: 15px;
	border-bottom: 0;
  @include media-query(palm) {
    margin-top: 0;
    margin-bottom: $half-spacing-unit;
    float: left;
  }
	&:before {
		position: relative;
		left: 10px;
		top: 4px;
		display: inline-block;
		width: 44px;
		height: 20px;
		content: '';
		background: url('images/icons/you-tube.svg') no-repeat left;
	}

	span {
		border-bottom: .1em solid $black;

		&:hover {
			border: 0;
		}
	}
}
