/*------------------------------------*\
    $Social
\*------------------------------------*/


.mf-twitter {
  margin-top: -24px;
	padding: $half-spacing-unit $base-spacing-unit;
	background: #1DA1F3;
  @include media-query(palm) {
    margin-bottom: $half-spacing-unit;
  }
	@include media-query(palm) {
    margin-bottom: $half-spacing-unit;
  }
	.sub-title-link a {
		color: #fff;
		display: inline-block;
	}
}

.twitter-stream {
	p {
    color: #fff;
		margin-bottom: $half-spacing-unit;
		@include font-size($body-size);
		line-height: 1.4;
	}
	.profile-link {
		display: none;
	}
	a {
		color: #fff;
		border-bottom-color: #fff;
	}
}

.wpinstagram {
	@extend .cf;
	margin-left: 0;
	margin-right: 0;
	height: auto;
	list-style-type: none;

	@include media-query(palm) {
		width: 100% !important;
		height: auto !important;
	}

  img {
		display: block;
		margin-top: $base-spacing-unit;
		@include media-query(palm) {
			width: 50%;
			height: auto;
			float: left;
			&:last-of-type(2) img {
				margin-right: $base-spacing-unit !important;
			}
		}
		@include media-query(mob) {
			width: 100%;
			height: auto;
			float: none;
		}
	}
}

.mf-connect {
	margin-bottom: $half-spacing-unit;

	li a {
		margin-left: 16px;
	}

	.sub-title {
		text-align: center;
		font-weight: bold;
		font-size: 32px !important;
		color: #000;
		border-bottom: 0;
	}

	.social {
		margin-bottom: 0;
		margin-top: 0;
	}

}

.social-inline .social {
	.btn-circle {
		margin-right: 20px;
		font-size: .6em;
		display: inline-block;
    .icon-twitter,
		.icon-facebook,
		.icon-instagram {
			position: relative;
			top: 10px;
		}
		.icon-instagram {
			color: #4C68D7;
		}
	}
}

.social-wrap {
	height: 64px;
	width: 105px;
	position: relative;

	.social-share {
		.mobile-only {
			display: none;
		}
	}

	@include media-query(palm) {
		z-index: 900;
		width: 100%;
		position: fixed;
		bottom: -20px;
		left: 0;

		.sub-title {
			display: none;
		}

		.social-share {
			display: table;
	    width: 100%;

			li {
				display: table-cell;
				width: 25%;
			}

			.mobile-only {
				display: table-cell;
			}

			.btn-circle {
				display:block;
				border-radius: 0;
				font-size: .4em;
				width: 100%;
				height: 44px;
			}
			.icon-twitter,
			.icon-facebook,
			.icon-whatsapp {
				&:before {
					top: 8px;
				}
			}
			.instagram {
				position: relative;
				top: -4px;
			}
			.icon-envelope {
				&:before {
					top: 10px;
				}
			}
		}
	}
}

.social-links {
	list-style-type: none;
	margin-left: 0;
	margin-bottom: $base-spacing-unit;
	text-align: center;
	h5 {
		font-size: 16px;
		margin-top: 2px;
		margin-bottom: $half-spacing-unit;
		padding-bottom: 0;
		border-bottom: 0;
	}
	.btn {
		margin-bottom: 0;
	}


}

.social-share {
	list-style-type: none;
	margin-left: 0;
	margin-bottom: $base-spacing-unit;
	text-align: center;

	.btn-circle {
		padding: 0 !important;
		width: auto;
		font-size: .6em;
		line-height: 1.06667;
		border: 0;
		border-radius: 50%;
		height: 64px;
		width: 64px;
		display: block;
		text-align: center;
		margin: 0 auto 16px auto;
	}

	.btn--secondary.instagram {
		background: #886808 !important;
	}

	.btn-circle.whatsapp {
		position: relative;
		top: 1px;
		height: 44px;
		img {
			position: relative;
			top: 9px;
			width: 25px;
		}
	}

  .icon-twitter,
	.icon-facebook,
	.icon-envelope {
		font-size: 3em;
		&:before{
			position: relative;
			top: 12px;
		}
	}
	.icon-envelope {
		&:before{
			top: 14px;
		}
	}
}
