/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Remove vertical spacing from nested lists.
 */
 ul {
   margin-bottom: $base-spacing-unit;
 }
li {
    > ul,
    > ol{
         margin-bottom:0;
     }
}

/**
 * Have a numbered `ul` without the semantics implied by using an `ol`.
 */
.numbered-list {
   list-style-type:decimal;
}

.list--bare {
   list-style-type: none;
   padding: 0;
   margin-left: 0;
}
